.DS_Store
/node_modules/
/src/node_modules/
/src/node_modules/@sapper/
/cypress/screenshots/
/__sapper__/build/
/__sapper__/dev/
/functions/node_modules/
/devNotes/

yarn-error.log
serviceAccountKey.json
secretKeys.js
package-lock.json
sapper-notes.md
